<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the better Meta, <%= @user.full_name %></h1>
    <p>
      You have succesfully signed up to Meta!
    </p>
    <p>
      To login to the site, just follow the link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
