<%= render 'layouts/header' %>

<h1>All Users</h1>

<body>
  <% @users.each do |user| %>
    <div id='box'>
      <div id='name'>
        <%= user.full_name %>
      </div>
      <div id='friend_request'>
        Send Friend Request
      </div>
    </div>
  <% end %>
</body>
